__pycache__
.pytest_cache
*.swp
*~
.cache
.ipynb_checkpoints
.DS_Store
tex2pdf*
.mypy_cache
.log
.coverage
.idea
.vscode
02_crowsnest/crowsnest.py
03_picnic/picnic.py
04_jump_the_five/jump.py
05_howler/howler.py
06_wc/wc.py
07_gashlycrumb/gashlycrumb.py
08_apples_and_bananas/apples.py
09_abuse/abuse.py
10_telephone/telephone.py
11_bottles_of_beer/bottles.py
12_ransom/ransom.py
13_twelve_days/twelve_days.py
14_rhymer/rhymer.py
15_kentucky_friar/friar.py
16_scrambler/scrambler.py
17_mad_libs/mad.py
18_gematria/gematria.py
19_wod/wod.py
20_password/password.py
21_tictactoe/tictactoe.py
